<div>
  <%= link_to user do %><h3><%= user.name %></h3><% end %>
    <small>
      | <%= link_to "Edit this user", edit_user_path(user) %> |
      <%= button_to "Destroy this user", user, method: :delete %>
    </small>
</div>




